$font-heading: 'Alata', sans-serif !default;

// import after overwriting variables
@import "node_modules/@doubledotlabs/dot.css/styles.scss";

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
