body {
  font-family: verdana, helvetica, arial, sans-serif;
  text-align: center;
  margin: auto;
  font-size: 1em;
  background-color: #eee;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  font-family: arial, sans-serif;
  padding: 0 1px;
}

a:hover {
  font-weight: bolder;
}

#main {
  flex: 1;
}

#header {
  padding: 5px 0;
}

#message {
  font-style: italic;
  margin: .5em auto;
}

#name {
  margin: 1em 0;
}

.title {
  margin: 5px 0;
}

footer {
  padding: .5em 0;
	color: white;
	background-color: #24344f;
}

#copyright {
  padding-bottom: .5em;
}

.images {
  width: 44px;
  height: 44px;
}