body {
  font-family: verdana, helvetica, arial, sans-serif;
  text-align: center;
  margin: 1em 0 1em 0;
  font-size: 16px;
  background-color: #eee;
}

a {
  font-family: arial, sans-serif;
  padding-left: 1px;
  padding-right: 1px;
}

a:hover {
  font-weight: bolder;
}

.title {
  margin-bottom: 5px;
}

#message {
  font-style: italic;
  margin: .5em auto;
}